.currentCard{
    text-align:center;
}
.currentCard img{
    max-width:236px;
    width: 100%;
}
.currentCardArea{
    margin-bottom: 20px;
}
.pot{
    width:20%;
    margin-right: 10px;
}
.last{
    margin:0;
}
.potArea{
    text-align:center;
    margin-bottom: 20px;
}
.doubleTie{
    display:none;
}
.okay{
    width:236px;
}
.announcement .row{
    display:flex;
    height:100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.announcement p{
    border: 2px dotted white;
    padding: 15px;
}



body{
    background-image: url("../images/camo-background.jpg");
}
.content{
    background-color: green;
    border: 2px solid orange;
    margin-top: 75px;
}

p{
    color: black;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 16px;
}

.header{
    width:100%;
    color: orange;
}

.site_name{
    margin: 0 auto;
    font-family: 'Piedra',cursive;
    font-size: 4em;

}
.main-column{
    text-align: center;
    margin: 0 auto;
}
#img_block{
    width: 100%;
    margin: 0 auto;
}